<section class="barra-nav">
  <a href="/" id="contenedor-logo"
    ><img src="/images/logo.png" alt="Logo" class="logo"
  /></a>
  <div id="contenedor-nav">
    <nav id="contenedor-botones-nav">
      <a href="/login"><i class="fas fa-user hide-icon-login"></i></a>
      <a href="/cava"><i class="fas fa-wine-glass-alt"></i></a>
      <a href=""><i class="fas fa-bars"></i></a>
    </nav>
    <div id="contenedor-input-slogan">
      <div id="contenedor-slogan">
        <p>...Porque ninguna gran historia empezó con una ensalada</p>
      </div>
      <div id="input">
        <input type="text" placeholder="Buscar.." />
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
    <nav id="nav-pantalla-mayor">
      <a href="/vinoteca">Vinoteca</a>
      <a href="/login">Login</a>
      <a href="/registro">Registro</a>
      <a href="/cava">Cava</a>
      <a href="">Mi Cuenta</a>
    </nav>
  </div>
</section>
