.detalleTarjetas {
    background-color: #252525;
}

.detalleBotones {
    display: flex;
    padding: 6%;
}

.boton {
    margin-right: 60%;
}

.detalleTexto {
    padding-top: 10px;
    font-size: 18px;
    color: antiquewhite;
}