<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cava</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/cava.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section class="barra-nav">
            <a href="/" id="contenedor-logo"><img src="images/logo.png" alt="Logo" class="logo"></a>
            <div id="contenedor-nav">
                <nav id="contenedor-botones-nav">
                    <a href=""><i class="fas fa-wine-glass-alt"></i></a>
                    <a href=""><i class="fas fa-user"></i></a>
                    <a href=""><i class="fas fa-bars"></i></a>
                </nav>
                <div id="contenedor-input-slogan">
                    <div id="contenedor-slogan">
                        <p>El mejor lugar para comprar vinos</p>
                    </div>
                    <div id="input">
                        <input type="text" placeholder="Buscar..">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <nav id="nav-pantalla-mayor">
                    <a href="">Vinos</a>
                    <a href="">Login</a>
                    <a href="">Registro</a>
                    <a href="">Cava</a>
                    <a href="">Cuenta</a>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <h2>Vinos en la Cava</h2>
        <section class="vinos-cava">
            <article class="articulo-vino">
                <div class="contenedor">
                    <img src="images/vino1.jpeg" alt="vino1" width="100%">
                    <h3>Vino 1</h3>
                    <div>
                        <i class="far fa-star"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <h4>Malbec 2012</h4>
                    <p>$3000</p>
                    <p>Cantidad: </p>
                </div>
            </article>
            <article>
                <div class="contenedor">
                    <img src="images/vino2.jpeg" alt="vino2" width="100%">
                    <h3>Vino 2</h3>
                    <div>
                        <i class="far fa-star"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <h4>Suavignon 2018</h4>
                    <p>$1500</p>
                    <p>Cantidad: </p>
                </div>
            </article>
            <article>
                <div class="contenedor">
                    <img src="images/vino3.jpeg" alt="vino3" width="100%">
                    <h3>Vino 3</h3>
                    <div>
                        <i class="far fa-star"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <h4>Cabernet 2017</h4>
                    <p>$2000</p>
                    <p>Cantidad: </p>
                </div>
            </article>
        </section>
        <section id="total-pagar">
            <h3>Resumen</h3>
            <p>Valor a pagar: $6500</p>
            <button type="submit" id="boton-pagar">Pagar</button>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>