<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/detalle-producto.css">
</head>
<body>
    <header>
        <section class="barra-nav">
            <a href="/" id="contenedor-logo"><img src="images/logo.png" alt="Logo" class="logo"></a>
            <div id="contenedor-nav">
                <nav id="contenedor-botones-nav">
                    <a href=""><i class="fas fa-wine-glass-alt"></i></a>
                    <a href=""><i class="fas fa-user"></i></a>
                    <a href=""><i class="fas fa-bars"></i></a>
                </nav>
                <div id="contenedor-input-slogan">
                    <div id="contenedor-slogan">
                        <p>El mejor lugar para comprar vinos</p>
                    </div>
                    <div id="input">
                        <input type="text" placeholder="Buscar..">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <nav id="nav-pantalla-mayor">
                    <a href="">Vinos</a>
                    <a href="">Login</a>
                    <a href="">Registro</a>
                    <a href="">Cava</a>
                    <a href="">Cuenta</a>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <h2>Vino 1</h2>
        <section id="contenedor-detalle">
            <img src="images/vino1.jpeg" alt="vino1">
            <div id="contenedor-detalle-vino">
                <div class="contenedor-detalle-info">
                    <h3>Año:</h3>
                    <p>1999</p>
                </div>
                <div class="contenedor-detalle-info">
                    <h3>Variedad:</h3>
                    <p>Malbec</p>
                </div>
                <div class="contenedor-detalle-info">
                    <h3>Tipo:</h3>
                    <p>Tinto</p>
                </div>
                <div class="contenedor-detalle-info">
                    <h3>Descripción:</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aliquid nisi vitae ad commodi repellat enim quidem! Ut exercitationem sed quidem! Dignissimos mollitia excepturi adipisci voluptas minus. Accusamus, alias eius.</p>
                </div>
                <div class="contenedor-detalle-info">
                    <h3>Precio:</h3>
                    <p>$3000</p>
                </div>
                <div id="contenedor-detalle-botones">
                    <button type="submit" class="boton-detalle">Comprar</button>
                    <button type="submit" class="boton-detalle">Agregar al carrito</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>