<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Digital wines</title>
  <script src="https://kit.fontawesome.com/6fd19047c5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home-styles.css" />
  <link rel="stylesheet" href="/css/home-theme.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>
<body>

    <header>
      <section class="barra-nav">
          <a href="/" id="contenedor-logo"><img src="images/logo.png" alt="Logo" class="logo"></a>
          <div id="contenedor-nav">
              <nav id="contenedor-botones-nav">
                  <a href=""><i class="fas fa-wine-glass-alt"></i></a>
                  <a href=""><i class="fas fa-user"></i></a>
                  <a href=""><i class="fas fa-bars"></i></a>
              </nav>
              <div id="contenedor-input-slogan">
                  <div id="contenedor-slogan">
                      <p>El mejor lugar para comprar vinos</p>
                  </div>
                  <div id="input">
                      <input type="text" placeholder="Buscar..">
                      <button><i class="fas fa-search"></i></button>
                  </div>
              </div>
              <nav id="nav-pantalla-mayor">
                  <a href="">Vinos</a>
                  <a href="">Login</a>
                  <a href="">Registro</a>
                  <a href="">Cava</a>
                  <a href="">Cuenta</a>
              </nav>
          </div>
      </section>
  </header>

<!--ACA COMIENZA EL CARRUSEL-->   

    <div id="slider-conteiner">
  
      <ul class="slider">
        <li id="slide1">
          <h3>¿Te gustaría formar parte de la experiencia Digital wines?</h3>
          <img src="/images/viñedos.jpg"/>
        </li>
        <li id="slide2">
          <img src="/images/rutini2.jpg"/>
        </li>
        <li id="slide3">
          <img src="/images/chad1.jpg">
        </li>
        <li id="slide4">
          <img src="/images/opuswine.jpg">
        </li>
      </ul>
      
      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
         <li>
          <a href="#slide3">3</a>
        </li>
        <li>
          <a href="#slide4">4</a>
        </li>
      </ul>
    </div>

  <!--ACA TERMINA EL CARRUSEL-->


  <!--ACA ESTAN LOS BOTONES-->

<section>
  <form class="order-button">
    <button type="button" class="main-button">Explorador</button>

    <button type="button" class="main-button">Degustador</button>

    <button type="button" class="main-button">Gran catador</button>

  </form>
</section>

<!--ACA TERMINAN LOS BOTONES-->


<!--ACA COMIENZA EL MAIN-->
  <main>
    <section class="main-conteiner">
<img src="/images/rutini-box.png" class="img-perfect">
<div class="div-parrafo"><p class="font-experience">- Rutini experience -
Oferta exclusiva: $20.400</p>
<p class="font-experience">Este cajón de madera contiene tres botellas:

  SINGLE VINEYARD MALBEC DE GUALTALLARY - Muy vivaz, con densos reflejos granate. Tinto muy aromático, sorprende por sus intensos aromas florales (violeta) y frutados (cereza, ciruela, arándanos).
  
  DOMINIO GRAN MALBEC - Color rubí con reflejos violáceos. En nariz ofrece notas a frutos negros, florales y especiadas. De taninos amables en boca, jugoso, frutado y fresco. Elegante final, prolongado y placentero.
  
  APARTADO GRAN MALBEC - De color rojo intenso con deslumbrantes reflejos violáceos. En nariz es complejo, elegante, con notas florales y frutales muy diversas y un anisado sutil.
</p></div>
    </section>
  </main>
  <!--ACA TERMINA EL MAIN-->
  
</body>




<footer></footer>

</html>