<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Digital wines</title>
  <script src="https://kit.fontawesome.com/6fd19047c5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home-styles.css" />
  <link rel="stylesheet" href="/css/home-theme.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>
<body>

  <header>
    

    <div id="slider-conteiner">
  
      <ul class="slider">
        <li id="slide1">
          <h3>¿Te gustaría formar parte de la experiencia Digital wines?</h3>
          <img src="/images/viñedos.jpg"/>
        </li>
        <li id="slide2">
          <img src="/images/rutini2.jpg"/>
        </li>
        <li id="slide3">
          <img src="/images/chad1.jpg">
        </li>
        <li id="slide4">
          <img src="/images/opuswine.jpg">
        </li>
      </ul>
      
      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
         <li>
          <a href="#slide3">3</a>
        </li>
        <li>
          <a href="#slide4">4</a>
        </li>
      </ul>
      
    </div>

  </header>
  <main>
    <h2>Esto será una página de puta madre</h2>
    <p class="contenedor01">
      CSS (Hojas de Estilo en Cascada) es el código que usas para dar estilo a
      tu página web. CSS Básico te lleva a través de lo que tú necesitas para
      empezar. Contestará a preguntas del tipo: ¿Cómo hago mi texto rojo o
      negro? ¿Cómo hago que mi contenido se muestre en tal y tal lugar de la
      pantalla? ¿Cómo decoro mi página web con imágenes de fondo y colores?
    </p>
    <p class="contenedor02">
      CSS (Hojas de Estilo en Cascada) es el código que usas para dar estilo a
      tu página web. CSS Básico te lleva a través de lo que tú necesitas para
      empezar. Contestará a preguntas del tipo: ¿Cómo hago mi texto rojo o
      negro? ¿Cómo hago que mi contenido se muestre en tal y tal lugar de la
      pantalla? ¿Cómo decoro mi página web con imágenes de fondo y colores?
    </p>
  </main>
  <hr />
</body>
<footer></footer>






    <!-- -->
      ESTO ES UN SEGUNDO CARRUSEL

      <div id="conteItemsCarrusel">

      <div class="itemCarrusel" id="itemCarrusel-1">
        <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
          <img src="/images/carru1.jpg">
        </div>

        <div class="flechasCarrusel">
          <a href="#itemCarrusel-3">
            <i class="fas fa-chevron-circle-left"></i>
          </a>
        <a href="#itemCarrusel-2">
          <i class="fas fa-chevron-circle-right"></i>
        </a>
        </div>
      </div>
      <div class="itemCarrusel" id="itemCarrusel-2">
        <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
          <img src="/images/carru2.jpg">
        </div>
        <div class="flechasCarrusel">
        <a href="#itemCarrusel-1">
          <i class="fas fa-chevron-circle-left"></i>
        </a>
        <a href="#itemCarrusel-3">
          <i class="fas fa-chevron-circle-right"></i>
        </a>
        </div>
      </div>
      <div class="itemCarrusel" id="itemCarrusel-3">
        <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
          <img src="/images/carru3.jpeg">
        </div>
        <div class="flechasCarrusel">
          <a href="#itemCarrusel-2">
            <i class="fas fa-chevron-circle-left"></i>
        </a>
        <a href="#itemCarrusel-1">
          <i class="fas fa-chevron-circle-right"></i>
        </a>
        </div>
      </div>
    </div>
  <div id="contePuntos">
  <a href="#itemCarrusel-1"><i class="far fa-circle"></i></a>
  <a href="#itemCarrusel-2"><i class="far fa-circle"></i></a>
  <a href="#itemCarrusel-3"><i class="far fa-circle"></i></a>
</div>
    </ul>-->

</html>