<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>LOGIN</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <!-- link íconos -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <!-- links roboto -->

    <script src="https://kit.fontawesome.com/c49398ad30.js" crossorigin="anonymous"></script>
        <!-- script fontawesome -->

    <link rel="stylesheet" href="/css/normalize.css" />
        <!-- link normalize -->

    <link rel="stylesheet" href="/css/theme.css" />
    <!-- link theme.css -->

    <link rel="stylesheet" href="/login-styles.css" />
    <!-- link login-styles.css -->

  </head>
  <body>
    <main>
        <form action="/" method="POST">
            <div>
            <label for="email"></label>
            <input
                type="text"
                name="email"
                id="email"
                placeholder=" Correo electrónico"
            />
            </div>

            <div>
            <label for="contraseña"></label>
            <input
                type="password"
                name="contraseña"
                id="contraseña"
                placeholder=" Contraseña"
            />
            </div>

            <div>Recuérdame</div>
            <!-- Este div va a ser un checkbox -->

            <div><a href="">¿Olvidaste tu contraseña?</a></div>

            <div>
            <button type="submit">INGRESAR</button>
            </div>

            <div>
        </form>
          <p>
            Al ingresar, aceptas los términos y condiciones y la política de
            privacidad.
          </p>
        </div>

    </main>
  </body>
</html>
