* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.agregarProducto-body {
  font-size: 1rem;
  background-color: #aa0d3f;
}

/*

MAIN

*/

.hide-icon-agregarProducto {
  display: none;
}

.agregarProducto-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.agregarProducto-form-container {
  background-color: #ebebeb;
  width: 75%;
  margin: 15% auto;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.agregarProducto-div-boxes {
  width: 100%;
  margin: 10px auto;
  padding: 8px;
}

.agregarProducto-div-box-cat {
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  text-align: center;
}

.agregarProducto-div-box-img {
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  text-align: center;
}

.agregarProducto-div-box-img input {
  text-align: center;
}

.agregarProducto-text-inputs {
  width: 90%;
  margin: 10px 5%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.agregarProducto-invalid-text-input {
  display: none;
  width: 90%;
  margin: 10px 5%;
  padding: 8px;
  color: red;
  font-style: italic;
}

.agregarProducto-button {
  width: 60%;
  margin: 10px auto;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #4285f4;
  margin: 0 20%;
  color: #fff;
}

/* 
    QUERIES
*/

@media (min-width: 767px) {
  main {
    max-width: 767px;
  }
  .agregarProducto-text-inputs {
    width: 60%;
    margin: 10px 20%;
  }
}
