
main h2{
    padding: 10px;
}

.vinos-cava{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin: 10px;
    border-radius: 8px;
}

.contenedor img{
    padding: 10px;
}

.contenedor h4 {
    width: 100%;
    padding: 0;
    margin-left: 5px;
}

.contenedor p {
    width: 100%;
    padding: 0;
    margin-left: 5px;
}

.contenedor h3{
    width: 76%;
    padding-left: 5px;
}

.contenedor div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 24%;
    justify-content: space-around;
}

.contenedor div i{
    width: 50%;
    font-size: 20px;
    text-align: center;
}

#total-pagar{
    background-color: white;
    margin: 10px;
    border-radius: 8px;
}

#total-pagar h3 {
    margin-top: 0;
    padding-top: 3px;
    margin-left: 5px;
}

#total-pagar p{
    margin-left: 5px;
}

main h2{
    margin: 0;
}

#boton-pagar{
    color: white;
    background-color: #aa0d3f;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 0 0 10px 3px;
}

@media(min-width : 767px){
    .vinos-cava{
        flex-direction: row;
    }
    .vinos-cava article{
        width : 50%;
    }
}
@media(min-width : 1100px){
    .vinos-cava article{
        width : 25%
    }
}


/*


Hacer cantidad un input de numero