*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

main{
    width: 90%;
    margin: 0 5%;
}

.barra-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #201f1d;
    justify-content: space-between;
}

#contenedor-botones-nav{
    width: 43%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#contenedor-botones-nav a {
    width: 33%;
    font-size: 30px;
    text-align: center;
    color: white;
}

#nav-pantalla-mayor{
    display: none;
}

#contenedor-logo {
    width: 35%;
}

#contenedor-logo img{
    width: 100%;
}

.vinos-cava{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.vinos-cava article{
    padding: 0 10px 10px 10px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: solid 1px black;
}

.contenedor h4 , p{
    width: 100%;
    padding: 0;
}

.contenedor h3{
    width: 76%;
}

.contenedor div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 24%;
    justify-content: space-around;
}

.contenedor div i{
    width: 50%;
    font-size: 20px;
    text-align: center;
}

@media(min-width : 767px){
    .vinos-cava{
        flex-direction: row;
    }
    .vinos-cava article{
        width : 50%;
    }
}
@media(min-width : 1100px){
    .vinos-cava article{
        width : 25%
    }
}

@media(min-width : 767px){
    #contenedor-logo{
        width: 20%;
    }
    #contenedor-botones-nav{
        width: 30%;
    }
    #contenedor-botones-nav a{
        font-size: 30px;
        padding: 0;
        height: 20%;
        margin: 40px 0;
    }
}