/*COMIENZA EL FOOTER*/
footer {
  width: 100%;
}

.contenedor {
  background-color: #d1cdcc;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.foot {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.presentacion {
  display: flex;
  justify-content: flex-start;
  width: 33%;
  margin: 20px 10px;
}

.presentacion p {
  text-align: center;
}

.copy p {
  text-align: center;
}

.presentacion .corazon {
  color: #aa0d3f;
}

.presentacion .cafe {
  color: #201f1d;
}

.copy {
  display: flex;
  justify-content: flex-end;
  width: 33%;
  margin: 20px 10px;
}

.redes {
  display: flex;
  justify-content: flex-end;
  width: 33%;
  margin: 20px 10px;
}

.lista .fab {
  color: rgb(87, 85, 85);
  font-size: 20px;
  margin: 0 10px;
}
/*TERMINA EL FOOTER*/

/*  COMIENZA EL HEADER  */

.barra-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #201f1d;
  justify-content: space-between;
}

#contenedor-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

#contenedor-botones-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#contenedor-botones-nav a, #contenedor-botones-nav div{
  width: 33.3333333%;
  font-size: 30px;
  align-items: center;
  color: #aa0d3f;
  
}

#contenedor-botones-nav a{
  display: flex;
  justify-content: center;
}

#nav-pantalla-mayor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  background-color: #201f1d;
  border: black 1px solid;
  inset: 0 0 0 30%;
  padding: 10rem 2rem;
  z-index: 1000;
}

#nav-pantalla-mayor a {
  color: #aa0d3f;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#nav-pantalla-mayor div {
  color: #aa0d3f;
  text-decoration: none;
  font-size: 1.5rem;
  width: 100%;
  margin: 20px 0;
}

.container-button_burguer-nav{
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
}

.button_burguer-nav{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #aa0d3f;
}

.button_burguer-nav button{
  font-size: 1.5rem;
}



.header_visible {
  transform: translateY(0%);
  transition: transform 350ms ease-in;
}

.header_not-visible {
  transform: translateY(-100%);
  transition: transform 350ms ease-in;
}


#contenedor-logo {
  width: 35%;
  z-index: 3000;
}

#contenedor-logo img {
  width: 100%;
}

#contenedor-input-slogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 3000;
}

#input {
  display: none;
}

#contenedor-slogan {
  display: none;
  color: white;
  font-style: italic;
}

#contenedor-slogan p {
  text-align: center;
  width: 100%;
}

/*TERMINA EL HEADER*/

@media (min-width: 767px) {
  #contenedor-nav {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #contenedor-logo {
    width: 20%;
  }
  #nav-pantalla-mayor {
    inset: 0 20% 0 0;
    width: 100%;
    flex-direction: row;
    height: 100px;
    position: absolute;
  }
  #nav-pantalla-mayor a{
    width: 20%;
    position: relative;
    bottom: 0;
  }
  #contenedor-botones-nav {
    display: flex;
    width: 10%;
  }
  #contenedor-botones-nav a {
    display: none;
    font-size: 30px;
    padding: 0;
    height: 20%;
    margin: 40px 0;
    width: 0%;
  }
  .container-button_burguer-nav{
    width: 0;
  }

  #contenedor-botones-nav a i {
    font-size: 3.5rem;
  }
  #contenedor-logo {
    display: inline-block;
  }
  #contenedor-input-slogan {
    width: 90%;
  }
  #input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  #input input {
    width: 80%;
    border-radius: 5px 0 0 5px;
    height: 30px;
    border: none;
    padding-left: 10px;
  }
  #input button {
    width: 10%;
    border-radius: 0 5px 5px 0;
    height: 30px;
    border: none;
  }
  #contenedor-slogan {
    display: flex;
    width: 60%;
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  #contenedor-logo {
    width: 12%;
  }
  #contenedor-slogan {
    font-size: 25px;
  }
  #contenedor-nav {
    width: 88%;
  }
}
