/*ESTO ES EL CARRUSEL*/

#slider-conteiner {
  font-family: sans-serif;
  margin: auto;
  background-color: #aa0d3f;
  max-width: 700px;
  max-height: 400px;
  padding: 30px;
}

#slider-conteiner > ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#slider-conteiner > ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#slider-conteiner > ul.slider h3 {
  position: absolute;
  text-align: center;
  padding: 10px;
  left: 50%;
  top: 300px;
  color: white;
  transform: translate(-50%, -50%);
}

#slider-conteiner > ul.slider p {
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 100px;
  color: white;
  transform: translate(-50%, -50%);
}

#slider-conteiner > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
}

#slider-conteiner > ul.slider li img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

#slider-conteiner > ul.slider li:first-child {
  opacity: 1;
}

#slider-conteiner > ul.slider li:target {
  opacity: 1;
}

#slider-conteiner > .menu {
  text-align: center;
  margin: 20px;
  padding-top: 50px;
}

#slider-conteiner > .menu li {
  display: inline-block;
  text-align: center;
}

#slider-conteiner > .menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.max-height-img-carousel {
  height: 350px;
}

/* COMIENZAN LOS BOTONES */

.main-button {
  font-weight: bolder;
  width: 100px;
  height: 50px;
  border: 3px solid #201f1d;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.order-button {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  margin: 40px 0;
  background-color: #201f1d;
}

/* ARRANCA EL MAIN  */

.container-box {
  margin: 0px;
  line-height: 0.6;
}

.div-parrafo {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.img-perfect {
  width: 100%;
  margin-top: 30px;
}

.font-experience-name {
  border-bottom: 1px solid #d1cdcc;
  padding-bottom: 5px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 10px #aa0d3f;
}

.font-experience {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  color: black;
  font-style: italic;
}

.detalle {
  margin-bottom: 8px;
}

.price {
  color: #aa0d3f;
  font-style: italic;
}

.contenedor-letra-carrito {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 5px;
}

.letra-carrito {
  font-size: 12px;
  border: 1px solid #aa0d3f;
  margin-left: 70%;
  margin-bottom: 4px;
  color: #aa0d3f;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

.circulos {
  font-size: 6px;
  margin-right: 5px;
  color: #201f1d;
}

/* ESTILOS TABLET*/

@media (min-width: 767px) {
  #slider-conteiner > ul.slider h3 {
    font-size: 25px;
  }

  .main-button {
    width: 200px;
    height: 60px;
    font-size: 19px;
    margin: 10px 0;
  }

  .font-experience {
    margin: 10px 0;
    font-size: 19px;
  }

  .font-experience-name {
    font-size: 30px;
  }

  .letra-carrito {
    font-size: 20px;
  }

  .contenedor-letra-carrito {
    margin-right: 15px;
  }

  .container-box {
    padding: 30px;
  }
}

/* COMIENZA DESKTOP */

@media (min-width: 1100px) {
  .font-experience-name {
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: left;
    color: black;
    margin-left: 110px;
  }

  .font-experience {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-left: 110px;
  }

  .price {
    margin-bottom: 10px;
  }

  .detalle {
    margin-bottom: 8px;
  }

  .container-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    line-height: 1.15;
  }

  .container-box img {
    width: 30%;
    align-items: center;
  }

  .div-parrafo {
    width: 30%;
    margin-top: 30px;
    margin-left: 0px;
    display: flex;
    background-color: white;
  }

  .main-button:hover {
    background-color: #aa0d3f;
    color: white;
  }

  .button-left {
    margin-left: 240px;
  }

  .button-right {
    margin-right: 240px;
  }

  .contenedor-letra-carrito {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 55%;
  }

  .letra-carrito {
    font-size: 18px;
    color: #aa0d3f;
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    border: 1px solid #aa0d3f;
    max-width: 170px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
  }

  .letra-carrito:hover {
    color: white;
    background-color: #aa0d3f;
  }

  .circulos {
    font-size: 10px;
  }
}
