* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  font-size: 1rem;
}

/*

HEADER

*/

.barra-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #201f1d;
  justify-content: space-between;
}

#contenedor-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

#contenedor-botones-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#contenedor-botones-nav a {
  width: 33%;
  font-size: 30px;
  text-align: center;
  color: #aa0d3f;
}

#nav-pantalla-mayor {
  display: none;
}

#nav-pantalla-mayor a {
  color: #aa0d3f;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  border-left: solid white 1px;
}

#contenedor-logo {
  width: 35%;
}

#contenedor-logo img {
  width: 100%;
}

#contenedor-input-slogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#input {
  display: none;
}

#contenedor-slogan {
  display: none;
  color: white;
}

#contenedor-slogan p {
  text-align: center;
}

@media (min-width: 767px) {
  #contenedor-nav {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  #contenedor-logo {
    width: 20%;
  }
  #contenedor-botones-nav {
    display: none;
    width: 30%;
  }
  #contenedor-botones-nav a {
    font-size: 30px;
    padding: 0;
    height: 20%;
    margin: 40px 0;
    width: 50%;
  }
  #nav-pantalla-mayor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  #nav-pantalla-mayor a {
    width: 20%;
  }
  #contenedor-logo {
    display: inline-block;
  }
  #contenedor-input-slogan {
    width: 100%;
  }
  #input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  #input input {
    width: 72%;
    border-radius: 5px 0 0 5px;
    height: 30px;
    border: none;
  }
  #input button {
    width: 8%;
    border-radius: 0 5px 5px 0;
    height: 30px;
    border: none;
  }
  #contenedor-slogan {
    display: flex;
    width: 60%;
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  #contenedor-logo {
    width: 12%;
  }
  #contenedor-slogan {
    font-size: 25px;
  }
  #contenedor-nav {
    width: 88%;
  }
  #contenedor-botones-nav {
    display: none;
    width: 20%;
  }
}

/*

MAIN

*/

.login-bg-color-wine {
  background-color: #aa0d3f;
}

.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.login-form-container {
  background-color: #ebebeb;
  width: 75%;
  margin: 15% auto;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.login-div-boxes {
  width: 100%;
  margin: 10px auto;
  padding: 8px;
}

.button-google {
  width: 90%;
  margin: 10px 5%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #4285f4;
  color: #fff;
}

.google-icon {
  margin-right: 2%;
}

.button-facebook {
  width: 90%;
  margin: 10px 5%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #4267b2;
  color: #fff;
}

.fb-icon {
  margin-right: 2%;
}

.login-text-inputs {
  width: 90%;
  margin: 10px 5%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.login-invalid-text-input {
  display: none;
  width: 90%;
  margin: 10px 5%;
  padding: 8px;
  color: red;
  font-style: italic;
}

.login-div-anchor {
  text-decoration: none;
}

.login-center-text {
  text-align: center;
}

.login-button-enter {
  width: 60%;
  margin: 10px auto;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #aa0d3f;
  color: #fff;
  margin: 0 20%;
}

.login-legal-consequences {
  width: 75%;
  margin: 0 auto;
}

/* 
    QUERIES
*/

@media (min-width: 767px) {
  main {
    max-width: 767px;
  }

  .button-google {
    width: 60%;
    margin: 10px 20%;
  }

  .button-facebook {
    width: 60%;
    margin: 10px 20%;
  }

  .login-text-inputs {
    width: 60%;
    margin: 10px 20%;
  }

  .divisor-line {
    width: 45%;
  }

  .login-legal-consequences {
    width: 60%;
  }
}
