*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    font-size: 1rem;
    background-color: #aa0d3f;
    /*background-image: url(/css/marca-de-vino-esencia-wines.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */
}

.register{
    width: 75%;
    border: none;
    background: #ebebeb;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15% auto;
}

.formulario{
    display: flex;
    flex-direction: column;
    width:100%;
}

.fecha{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
}

h1{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    color: #aa0d3f;
    color: #201f1d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    align-items: center;
    text-align: center;
    color: #aa0d3f;
    margin: 20px;
}

h4{
    padding-bottom: 16px;
    padding-top: 16px;
}

.container-register{
    width: 100%;
}

.enviar{
    width: 100%;
    margin: 10px 0;
}

.boton{
    width: 60%;
    margin: 10px auto;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #aa0d3f;
    margin: 0 20%;
}


.boton a {
    text-decoration: none;
    color: #fff;
  }

.formulario-container p{
    margin: 5px;

}

.link{
    text-decoration: none;
    color: blue;
}

.link:hover{
    color: #aa0d3f;
}

.in{
    width: 100%;
    margin: 10px 5%;
    padding: 8px;
    border: none;
    border-radius: 5px; 
}

.register-invalid-text-input{
    display: none;
    width: 90%;
    margin: 10px 5%;
    padding: 8px;
    color: red;
    font-style: italic;
}

.container-button-gofa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}


.button-google {
    width: 80%;
    margin: 10px 5%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #4285f4;
    color: #fff;
  }



  .button-google a {
    text-decoration: none;
    color: #fff;
  }
  
  .google-icon {
    margin-right: 2%;
  }
  
  .button-facebook {
    width: 80%;
    margin: 10px 5%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #4267b2;
  }
  
  .button-facebook a {
    text-decoration: none;
    color: #fff;
  }
  
  .fb-icon {
    margin-right: 2%;
  }

/*Footer*/
footer{
    width:100%;
}

.contenedor{
    background-color:#d1cdcc;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.foot{
    display: flex;
    flex-direction:row;
}

.presentacion{
    display: flex;
    justify-content: flex-start;
    width: 33%;
    margin: 20px 10px;
}

.presentacion p{
    text-align: center;
}

.copy p{text-align: center;}

.presentacion .corazon{
    color: #aa0d3f;
}

.presentacion .cafe{
    color: #201f1d;
}

.copy{
    display: flex;
    justify-content:flex-end;
    width: 33%;
    margin: 20px 10px;
}

.redes{
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin: 20px 10px;
}

.lista .fab{
    color: rgb(87, 85, 85);
    font-size: 20px;
    margin: 0 10px;
}

@media (min-width:0px){
    .formulario-container{
        display: flex;
        flex-direction: column;
    }
    .register{
        display: flex;
        flex-direction: column;
        flex-grow: -1;
        position: relative;
    }
    
    .required{
        width: 80%;
    }
    .in{
        width: 80%;
    }
    h3{
        width: 80%;
    }
    .presentacion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(min-width:760px){
    .button-google {
        width: 60%;
        margin: 10px 20%;
      }
    
    .button-facebook {
        width: 60%;
        margin: 10px 20%;
      }
    .in{
        width: 60%;
        margin: 10px 20%;
    }.register{
        width: 55%;
       margin: 30px 22.5%;
    }

}

