*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: #d1cdcc;
}

main{
    width: 90%;
    margin: 0 5%;
}


/*


TODO DEL HEADER


*/




.barra-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #201f1d;
    justify-content: space-between;
}

#contenedor-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

#contenedor-botones-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#contenedor-botones-nav a {
    width: 33%;
    font-size: 30px;
    text-align: center;
    color: #aa0d3f;
}

#nav-pantalla-mayor{
    display: none;
}

#nav-pantalla-mayor a{
    color: #aa0d3f;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-left: solid white 1px;
}

#contenedor-logo {
    width: 35%;
}

#contenedor-logo img{
    width: 100%;
}

#contenedor-input-slogan{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#input{
    display: none;
}

#contenedor-slogan{
    display: none;
    color: white;
    align-self: center;
}

#contenedor-slogan p{
    text-align: center;
    width: 100%;
}


@media(min-width : 767px){
    #contenedor-nav{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }
    #contenedor-logo{
        width: 20%;
    }
    #contenedor-botones-nav{
        display: none;
        width: 30%;
    }
    #contenedor-botones-nav a{
        font-size: 30px;
        padding: 0;
        height: 20%;
        margin: 40px 0;
        width: 50%;
    }
    #nav-pantalla-mayor{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    #nav-pantalla-mayor a{
        width: 20%;
    }
    #contenedor-logo{
        display: inline-block;
    }
    #contenedor-input-slogan{
        width: 100%;
    }
    #input{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    #input input{
        width: 72%;
        border-radius: 5px 0 0 5px;
        height: 30px;
        border: none;
    }
    #input button{
        width: 8%;
        border-radius: 0 5px 5px 0;
        height: 30px;
        border: none;
    }
    #contenedor-slogan{
        display: flex;
        width: 60%;
        font-size: 20px;
    }
}

@media(min-width : 1100px){
    #contenedor-logo{
        width: 12%;
    }
    #contenedor-slogan{
        font-size: 25px;
    }
    #contenedor-nav{
        width: 88%;
    }
    #contenedor-botones-nav{
        display: none;
        width: 20%;
    }
}



/*


FIN DE HEADER


*/