*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #d1cdcc; */
    background-color: #aa0d3f;
}

main{
    width: 100%;
    position: relative;
}

main h2{
    padding: 10px;
    color: #fff;
    margin-left: 9%;
}

.vinoteca-bg-img {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.vinoteca-bg-img-desktop {
    display: none;
}

.vinoteca-vinos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 5%;
}

#articulo-vino{
    background-color: white;
}

.contenedor-vinoteca{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin: 5%;
    border-radius: 8px;
}

.contenedor-vinoteca img{
    padding: 10px;
}

.contenedor-vinoteca h4 {
    width: 100%;
    padding: 0;
    margin: 7px 0 7px 7px;
}

.contenedor-vinoteca p {
    width: 100%;
    padding: 0;
    margin: 7px 0 7px 7px;
}

.contenedor-vinoteca h3{
    margin: 7px 0 7px 0;
    width: 76%;
    padding-left: 5px;
}

.contenedor-vinoteca div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 24%;
    justify-content: space-around;
}

.contenedor-vinoteca div i{
    width: 50%;
    font-size: 20px;
    text-align: center;
}

#total-pagar{
    background-color: white;
    margin: 10px;
    border-radius: 8px;
}

#total-pagar h3 {
    margin: 7px 0 7px 5px;
    padding-top: 7px;
}

#total-pagar p{
    margin: 7px 0 7px 5px;
}

main h2{
    margin: 0;
}


#boton-pagar{
    color: white;
    background-color: #aa0d3f;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 0 0 10px 3px;
    padding: 0 4px;
}

/*Botones Vinoteca*/


.button-add-product {
  position: fixed;
  text-decoration: none;
  right: 5%;
  bottom: 5%;
  border: none;
  border-radius: 50%;
  padding: 1.5%;
  background-color: #39b54a;
  color: #ffff;
  display: flex;
}

  .button-add-product {
    right: 2.5%;
    bottom: 2.5%;
  }

  .button-add-product a {
      text-decoration: none;
      color: #ffff;
  }

@media(min-width : 767px){
    .vinoteca-vinos {
        flex-direction: row;
    }
    .vinoteca-vinos article{
        width : 50%;
    }
    
  .button-add-product {
    padding: 1%;
  }
}
@media(min-width : 1100px){
    .vinoteca-bg-img-desktop {
    display: block;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
    }

    .vinoteca-vinos article{
        width : 25%
    }
    .button-add-product i {
    font-size: 25px;
  }

}


/*


Hacer cantidad un input de numero
