* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

main {
    background-color: #252525;
    height: 100vh;
}

h2 {
    width: 100%;
    color: #aa0d3f;
    text-align: center;
}

.forms-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}

form {
    margin-bottom: 5%;
}

.input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-wrapper label {
    margin-left: 2.5%;
    color: rgb(245, 245, 245);
    width: 100%;
}

.input-wrapper input {
    width: 70%;
}

.btn-secondary {
    width: 28%;
    margin-left: 2%;
    background-color: transparent;
    color: rgb(201, 196, 196);
    border: 2px solid #aa0d3f;
}

.errores-front {
    color: #aa0d3f;
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 767px) {
    .forms-wrapper {
        width: 100%;
        max-width: 767px;
    }
}

@media (min-width: 1100px) {
    .forms-wrapper {
        width: 100%;
        max-width: 1100px;
    }
}
