*{
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body{
    background-color: #d1cdcc;
}

main{
    background-color: #252525;
    min-height: 700px;
}


main h2{
    padding: 10px;
    color: #ffff;
}

.wrapper-total-pagar{
    padding: 0 5%;
    padding-bottom: 3%;
}

#total-pagar{
    background-color: white;
    padding-bottom: 1%;
    border-radius: 8px;
}

#total-pagar h3 {
    margin: 7px 0 7px 5px;
    padding-top: 7px;
}

#total-pagar p{
    margin: 7px 0 7px 5px;
}

main h2{
    margin: 0;
}


#boton-pagar{
    color: white;
    background-color: #aa0d3f;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: 0 0 10px 3px;
    padding: 0 4px;
}

/*Botones Vinoteca*/


.button-add-product {
  position: fixed;
  text-decoration: none;
  right: 5%;
  bottom: 5%;
  border: none;
  border-radius: 50%;
  padding: 1.5%;
  background-color: #39b54a;
  color: #ffff;
  display: flex;
}

  .button-add-product {
    right: 2.5%;
    bottom: 2.5%;
  }

  .button-add-product a {
      text-decoration: none;
      color: #ffff;
  }

@media(min-width : 767px){
    .vinos-cava{
        flex-direction: row;
    }
    .vinos-cava article{
        width : 50%;
    }
    
  .button-add-product {
    padding: 1%;
  }
}
@media(min-width : 1100px){
    .vinos-cava article{
        width : 25%
    }
    .button-add-product i {
    font-size: 25px;
  }

}


/*


Hacer cantidad un input de numero
