* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.editarProducto-body {
    font-size: 1rem;
}

/*

MAIN

*/

.hide-icon-editarProducto {
    display: none;
}

.editarProducto-main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-bg-img {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.desktop-bg-img {
    display: none;
}

.editarProducto-form-container {
    max-width: 400px;
    margin: 10% 15%;
    /* padding: 5% 10%; */
    padding: 5%;
    border: none;
    border-radius: 8px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #aa0d3f;
}

form div {
    margin-bottom: 5%;
}

form div label {
    margin-left: 2.5%;
}

form div input {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 4%;
}

.editarProducto-text-area {
    width: 100%;
    height: 110px;
    border: none;
    border-radius: 8px;
    padding: 4%;
    text-align: justify;
}

.editarProducto-div-img-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.editarProducto-input-img-product {
    width: 100%;
}

.editarProducto-div-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.editarProducto-button {
    width: 60%;
    border: none;
    border-radius: 8px;
    padding: 2%;
    background-color: #aa0d3f;
    color: #fff;
}

.errores-front {
    color: #aa0d3f;
    font-weight: bold;
    font-style: italic;
}

.box-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: none;
}

/* 
    QUERIES
*/

@media (min-width: 767px) {
.editarProducto-form-container {
    max-width: 500px;
}
}

@media (min-width: 1100px) {
.editarProducto-main-container {
    flex-direction: row;
    align-items: center;
}

.mobile-bg-img {
    display: none;
}

.desktop-bg-img {
    display: block;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.editarProducto-form-container {
    padding: 2.5% 5%;
    margin: 20%;
    width: 40%;
    background-color: transparent;
}

form div label {
    color: #fff;
    font-weight: bold;
}
}
