* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

/*  COMIENZA EL HEADER  */

header {
    background-color: #201f1d;
}

.barra-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor_logo {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.contenedor_logo img {
    max-width: 161px;
    max-height: 188px;
}

.contenedor-links_chica {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.link_chica {
    width: 33%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.link_chica i {
    width: 100%;
    font-size: 2rem;
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.contenedor-links_grande {
    display: none;
}

@media (min-width: 1100px) {
    .contenedor-links_chica {
        display: none;
    }
    .contenedor_logo {
        width: 20%;
    }

    .contenedor-links_grande {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: end;
        align-items: center;
    }
    .contenedor-links_grande a {
        width: 20%;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        color: #aa0d3f;
    }
    .contenedor-links_grande a:hover {
        color: #ebebeb;
    }
}

/*TERMINA EL HEADER*/

/*COMIENZA EL FOOTER*/
footer {
    width: 100%;
}

.contenedor {
    background-color: #d1cdcc;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.foot {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.presentacion {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    margin: 20px 10px;
}

.presentacion p {
    text-align: center;
}

.copy p {
    text-align: center;
}

.presentacion .corazon {
    color: #aa0d3f;
}

.presentacion .cafe {
    color: #201f1d;
}

.copy {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin: 20px 10px;
}

.redes {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin: 20px 10px;
}

.lista .fab {
    color: rgb(87, 85, 85);
    font-size: 20px;
    margin: 0 10px;
}
/*TERMINA EL FOOTER*/
