/*Carousel*/
#carouselDelHome {
    padding: 4%;
}

.imag {
    height: 4000px;
}

.slide img {
    max-height: 400px;
    width: 40%;
    border-radius: 8px;
}

.vinos-cava {
    display: flex;
    flex-direction: row;
    max-width: 80%;
}

/* Secciones*/

.main {
    position: relative;
    background-color: #252525;
}

.videoWrapper {
    display: none;
}

#articulo-vino {
    background-color: none;
}

.contenedor-cava {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: none;
    margin: 10px;
    border-radius: 8px;
}

@media (min-width: 767px) {
    #carouselDelHome {
        display: none;
    }
    .videoWrapper {
        display: block;
        border-radius: 8px;
        padding: 4%;
    }

    .videoHome {
        width: 100%;
        border-radius: 8px;
    }
}

@media (min-width: 1100px) {
    .videoWrapper {
        width: 90%;
        margin: 0 auto;
    }
}

/* COMIENZAN LOS BOTONES 

.main-button {
  font-weight: bolder;
  width: 100px;
  height: 50px;
  border: 3px solid #201f1d;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.order-button {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  margin: 40px 0;
  background-color: #201f1d;
}

/* ARRANCA EL MAIN  

.container-box {
  margin: 0px;
  line-height: 0.6;
}

.div-parrafo {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.img-perfect {
  width: 100%;
  margin-top: 30px;
}

.font-experience-name {
  border-bottom: 1px solid #d1cdcc;
  padding-bottom: 5px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 10px #aa0d3f;
}

.font-experience {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  color: black;
  font-style: italic;
}

.detalle {
  margin-bottom: 8px;
}

.price {
  color: #aa0d3f;
  font-style: italic;
}

.contenedor-letra-carrito {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 5px;
}

.letra-carrito {
  font-size: 12px;
  border: 1px solid #aa0d3f;
  margin-left: 70%;
  margin-bottom: 4px;
  color: #aa0d3f;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

.circulos {
  font-size: 6px;
  margin-right: 5px;
  color: #201f1d;
}

/* ESTILOS TABLET*/
/*
@media (min-width: 767px) {
  #slider-conteiner > ul.slider h3 {
    font-size: 25px;
  }

  .main-button {
    width: 200px;
    height: 60px;
    font-size: 19px;
    margin: 10px 0;
  }

  .font-experience {
    margin: 10px 0;
    font-size: 19px;
  }

  .font-experience-name {
    font-size: 30px;
  }

  .letra-carrito {
    font-size: 20px;
  }

  .contenedor-letra-carrito {
    margin-right: 15px;
  }

  .container-box {
    padding: 30px;
  }
}

 COMIENZA DESKTOP

@media (min-width: 1100px) {
  .font-experience-name {
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: left;
    color: black;
    margin-left: 110px;
  }

  .font-experience {
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-left: 110px;
  }

  .price {
    margin-bottom: 10px;
  }

  .detalle {
    margin-bottom: 8px;
  }

  .container-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    line-height: 1.15;
  }

  .container-box img {
    width: 30%;
    align-items: center;
  }

  .div-parrafo {
    width: 30%;
    margin-top: 30px;
    margin-left: 0px;
    display: flex;
    background-color: white;
  }

  .main-button:hover {
    background-color: #aa0d3f;
    color: white;
  }

  .button-left {
    margin-left: 240px;
  }

  .button-right {
    margin-right: 240px;
  }

  .contenedor-letra-carrito {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 55%;
  }

  .letra-carrito {
    font-size: 18px;
    color: #aa0d3f;
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    border: 1px solid #aa0d3f;
    max-width: 170px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
  }

  .letra-carrito:hover {
    color: white;
    background-color: #aa0d3f;
  }

  .circulos {
    font-size: 10px;
  }
}
*/
