<section class="barra-nav">
    <a href="/" class="contenedor_logo">
        <img src="/images/logo.png" alt="Logo" class="logo" width="100%" />
    </a>
    <nav class="contenedor-links_chica">
        <a class="link_chica" href="/users/login"
            ><i class="fas fa-user hide-icon-login"></i
        ></a>
        <a class="link_chica" href="/products/cava"
            ><i class="fas fa-wine-glass-alt"></i
        ></a>
        <a class="link_chica" href=""><i class="fas fa-bars"></i></a>
    </nav>
    <nav class="contenedor-links_grande">
        <a href="/products/vinoteca">Vinoteca</a>
        <% if (locals.isLogged) { %>
        <a href="/users/cava">Mi Cava</a>
        <a href="/users/cuenta">Mi Cuenta</a>
        <% } else { %>
        <a href="/users/login">Login</a>
        <a href="/users/registro">Registro</a>
        <% } %>
    </nav>
</section>
