<section class="barra-nav">
  <a href="/" class="contenedor_logo">
    <img src="/images/logo.png" alt="Logo" class="logo" width="100%" />
  </a>
  <nav class="contenedor-links_chica">
    <a class="link_chica" href="/login"
      ><i class="fas fa-user hide-icon-login"></i
    ></a>
    <a class="link_chica" href="/products/cava"
      ><i class="fas fa-wine-glass-alt"></i
    ></a>
    <a class="link_chica" href=""><i class="fas fa-bars"></i></a>
  </nav>
  <div class="contenedor_slogan">
    <p>...Porque ninguna gran historia empezó con una ensalada</p>
  </div>
  <div class="contenedor_buscar">
    <input type="text" placeholder="Buscar..." class="search-input" />
    <button><i class="fas fa-search search-button"></i></button>
  </div>
  <nav class="contenedor-links_grande">
    <a href="/products/vinoteca">Vinoteca</a>
    <a href="/login">Login</a>
    <a href="/registro">Registro</a>
    <a href="/products/cava">Cava</a>
    <a href="/cuenta">Mi Cuenta</a>
  </nav>
</section>
