<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Cava</title>
    <link rel="stylesheet" href="/css/cuenta.css" />
  </head>
  <body>
    <header><%- include ("../partials/header") %></header>
    <main>
      <div class="cuenta_outer-edge">
          <div class="cuenta_container">
              <h2>Informacion de tu cuenta</h2>
              <div class="cuenta_container-info">
                  <h3>Nombre y Apellido:</h3>
                  <p>Carlos Norberto</p>
              </div>
              <div class="cuenta_container-info">
                  <h3>Correo Electronico:</h3>
                  <p>carlitosnor@gmail.com</p>
              </div>
              <div class="cuenta_container-info">
                  <h3>Fecha de Nacimiento:</h3>
                  <p>10/11/1988</p>
              </div>
              <div class="cuenta_container-info">
                  <h3>DNI:</h3>
                  <p>34530089</p>
              </div>
              <div class="cuenta_container-info">
                  <h3>Contrasena:</h3>
                  <p>Capo2000</p>
              </div>
              <div class="cuenta_container-boton">
                <a class="cuenta_boton-editar" href="">Editar tu cuenta</a>
              </div>
          </div>
      </div>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
