<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
  <title>Digital wines</title>
  <link rel="stylesheet" href="/css/home-theme.css" />
  <link rel="stylesheet" href="/css/home-styles.css" />
</head>
<body>
  <header><%- include ("../partials/header") %></header>

<!--ACA COMIENZA EL CARRUSEL-->   

    <div id="slider-conteiner">
  
      <ul class="slider">
        <li id="slide1">
          <h3>¿Te gustaría formar parte de la experiencia Digital wines?</h3>
          <img src="/images/viñedos.jpg"/>
        </li>
        <li id="slide2">
          <img src="/images/rutini2.jpg"/>
        </li>
        <li id="slide3">
          <img src="/images/chad1.jpg">
        </li>
        <li id="slide4">
          <img src="/images/opuswine.jpg">
        </li>
      </ul>
      
      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
         <li>
          <a href="#slide3">3</a>
        </li>
        <li>
          <a href="#slide4">4</a>
        </li>
      </ul>
    </div>

  <!--ACA TERMINA EL CARRUSEL-->


  <!--ACA ESTAN LOS BOTONES-->

<section>
  <form class="order-button">
    <button type="button" class="main-button">Explorador</button>

    <button type="button" class="main-button">Degustador</button>

    <button type="button" class="main-button">Gran catador</button>

  </form>
</section>

<!--ACA TERMINAN LOS BOTONES-->


<!--ACA COMIENZA EL MAIN-->
  <main>
    <section class="section-img">
<img src="/images/rutini-box.png" class="img-perfect">

<div class="div-parrafo">
  <a href= "" class="font-experience-name">- Rutini box -  Experience </a>

  <p class="font-experience">Oferta exclusiva: $20.400</p>
  <p class="font-experience">Este cajón de madera contiene tres botellas:</p>

  <p class="font-experience">SINGLE VINEYARD MALBEC DE GUALTALLARY  </p>
  
  <p class="font-experience">DOMINIO GRAN MALBEC  </p>
  
  <p class="font-experience">APARTADO GRAN MALBEC  </p>
    </section>

    <section class="section-img">
      <img src="/images/luigi-box2.png" class="img-perfect">
      
      <div class="div-parrafo">
        <a href= "" class="font-experience-name">- Luigi box -  Experience </a>
      
        <p class="font-experience">Oferta exclusiva: $12.000</p>
        <p class="font-experience">Este estuche de madera contiene tres botellas:</p>
      
        <p class="font-experience">LUIGI BOSCA - TORRONTES</p>
        
        <p class="font-experience">DE SANGRE - MALBEC D.O.C.  </p>
        
        <p class="font-experience">LA LINDA - ROSE MALBEC  </p>
          </section>

          <section class="section-img">
            <img src="/images/box-pinoquemado.jpg" class="img-perfect">
            
            <div class="div-parrafo">
              <a href= "" class="font-experience-name">- Pino box -     Experience </a>
            
              <p class="font-experience">Oferta exclusiva: $16.500</p>
              <p class="font-experience">Este estuche de madera contiene tres botellas:</p>
            
              <p class="font-experience">PINO QUEMADO - VOIGNER</p>
              
              <p class="font-experience">PINO QUEMADO - SATISFACCION </p>
              
              <p class="font-experience">PINO QUEMADO - SUOVIGN  </p>
                </section>

            <button type="button" class="button-add-product"><i class="fas fa-plus"></i></button>
  </main>
  <!--ACA TERMINA EL MAIN-->
  <footer>
  <%- include ("../partials/footer") %> 
    </footer>
  </body>
</html>