<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/login-styles.css" />
  </head>
  <body class="login-body">
    <header><%- include ("../partials/header") %></header>

    <main class="login-main-container">
      <img src="/images/bg-login-mobile.jpeg" class="login-mobile-bg-img" />
      <img src="/images/baco-ariadna.jpg" class="login-desktop-bg-img" />

      <form action="/" method="POST" class="login-form-container">
        <section>
          <div class="login-div-google">
            <button type="submit" class="button-google box-shadow">
              <a href="">
                <i class="fab fa-google google-icon"></i>
                <span>Google</span>
              </a>
            </button>
          </div>
          <div class="login-div-fb">
            <button type="submit" class="button-facebook box-shadow">
              <a href="">
                <i class="fab fa-facebook-f fb-icon"></i>
                <span>Facebook</span>
              </a>
            </button>
          </div>
        </section>

        <section>
          <div class="login-div-email">
            <label for="email"></label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder=" Correo electrónico"
              class="login-imput-email box-shadow"
            />
            <span class="login-invalid-text-input"
              >Correo electrónico no válido</span
            >
          </div>
          <div class="login-div-password">
            <label for="contraseña"></label>
            <input
              type="password"
              name="contraseña"
              id="contraseña"
              placeholder=" Contraseña"
              class="login-imput-password box-shadow"
            />
            <span class="login-invalid-text-input">Contraseña no válida</span>
          </div>

          <div class="login-div-enter">
            <button type="submit" class="login-button-enter box-shadow">
              <a href="/">INGRESAR</a>
            </button>
          </div>

          <div class="login-div-remember-me">
            <input
              type="checkbox"
              name="recuerdame"
              id="recuerdame"
              value="recuerdame"
            />
            <label for="recuerdame">Recuérdame</label>
          </div>

          <div class="login-div-forgot-password">
            <a href="">¿Olvidaste tu contraseña?</a>
          </div>

          <div class="login-div-subscribe">
            <a href="/registro">¿No eres socio? Suscríbete</a>
          </div>
        </section>

        <section>
          <div class="login-div-legal-consequences">
            <p>
              Al ingresar, aceptas los términos y condiciones y la política de
              privacidad.
            </p>
          </div>
        </section>
      </form>
    </main>

    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
