<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>

    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>

  <body>
    <header><%- include ("../partials/header") %></header>
    <main class="register-main-container">
      <img src="/images/bg-login-mobile.jpeg" class="register-mobile-bg-img" />
      <img src="/images/venus-birth.jpeg" class="register-desktop-bg-img" />

      <form action="/" method="POST" class="register-form-container box-shadow">
        <section>
          <h4>Regístrate con:</h4>
          <div class="register-div-google">
            <button type="submit" class="button-google box-shadow">
              <a href="">
                <i class="fab fa-google google-icon"></i>
                <span>Google</span>
              </a>
            </button>
          </div>
          <div class="register-div-fb">
            <button type="submit" class="button-facebook box-shadow">
              <a href="">
                <i class="fab fa-facebook-f fb-icon"></i>
                <span>Facebook</span>
              </a>
            </button>
          </div>
        </section>

        <section>
          <h4>Información Personal:</h4>
          <div class="register-div-name">
            <label for="name"></label>
            <input
              class="register-imput-name box-shadow"
              type="text"
              name="nombre y apellido"
              placeholder=" Nombre y Apellido"
            />
          </div>
          <div class="register-div-email">
            <label for="email"></label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder=" Correo Electrónico"
              class="register-imput-email box-shadow"
            />
            <span class="register-invalid-text-input"
              >Correo electrónico no válido</span
            >
          </div>
          <div class="register-div-date">
            <label for="fechaDeNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaDeNacimiento" class="box-shadow" />
          </div>
          <div class="register-div-dni">
            <label for="DNI"></label>
            <input
              class="register-imput-dni box-shadow"
              type="number"
              name="DNI"
              id="DNI"
              placeholder=" DNI"
            />
          </div>
        </section>

        <section>
          <h4>Informacion de Inicio de Sesion:</h4>
          <div class="register-div-password">
            <label for="contraseña"></label>
            <input
              type="password"
              name="contraseña"
              id="contraseña"
              placeholder=" Contraseña"
              class="register-imput-password box-shadow"
            />
            <span class="register-invalid-text-input"
              >Contraseña no válida</span
            >
          </div>
          <div class="register-div-password">
            <label for="confirmar contraseña"></label>
            <input
              type="password"
              name="contraseña"
              id="confirmar contraseña"
              placeholder=" Confirmar Contraseña"
              class="register-imput-password box-shadow"
            />
            <span class="register-invalid-text-input"
              >Contraseña no válida</span
            >
          </div>
        </section>

        <section>
          <div class="register-div-enter">
            <button type="submit" class="register-button-enter box-shadow">
              <a href="/">INGRESAR</a>
            </button>
          </div>

          <div class="register-div-to-login">
            <p>
              ¿Ya tienes una cuenta?
              <a class="link" href="/login">Iniciar Sesion</a>
            </p>
          </div>
        </section>
      </form>
    </main>

    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
