<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Agregar productos</title>
    <link rel="stylesheet" href="/css/agregarProducto.css" />
  </head>
  <body class="agregarProducto-body">
    <header><%- include ("../partials/header") %></header>
    <main class="agregarProducto-main-container">
      <form class="agregarProducto-form-container" method="POST">
        <div class="agregarProducto-div-boxes">
          <label for="nombreProducto">Nombre:</label>
          <input
            class="agregarProducto-text-inputs"
            type="text"
            name="nombre"
            id="nombre"
            placeholder="Ej: Toro"
          />
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="descripcionProducto">Bodega:</label>
          <input
            class="agregarProducto-text-inputs"
            type="text"
            name="bodega"
            id="bodega"
            placeholder="Ej: Malbec"
          />
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="precioProducto">Precio:</label>
          <input
            class="agregarProducto-text-inputs"
            type="number"
            name="precio"
            id="precio"
            placeholder="Ej: $1000"
          />
        </div>
        <div class="agregarProducto-div-boxes">
          <label for="precioProducto">Descripcion:</label>
          <textarea class="agregarProducto-text-area" name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        </div>
        <div class="agregarProducto-div-box-img">
          <label for="imagenProducto">Imagen del producto: </label>
          <input
            class="agregarProducto-text-inputs"
            type="file"
            accept="image/jpg"
            name="imagen"
            id="imagen"
          />
        </div>

        <div class="agregarProducto-div-boxes">
          <button
            class="agregarProducto-button"
            type="submit"
            value="Agregar producto"
          >
            Agregar
          </button>
        </div>
      </form>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
