<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Detalles de Producto</title>
    <link rel="stylesheet" href="/css/detalle-producto.css" />
  </head>
  <body>
    <header><%- include ("../partials/header") %></header>
    <main>
      <h2>Vino 1</h2>
      <section id="contenedor-detalle">
        <img src="/images/vino1.jpeg" alt="vino1" />
        <div id="contenedor-detalle-vino">
          <div class="contenedor-detalle-info">
            <h3>Año:</h3>
            <p>1999</p>
          </div>
          <div class="contenedor-detalle-info">
            <h3>Variedad:</h3>
            <p>Malbec</p>
          </div>
          <div class="contenedor-detalle-info">
            <h3>Tipo:</h3>
            <p>Tinto</p>
          </div>
          <div class="contenedor-detalle-info">
            <h3>Descripción:</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              aliquid nisi vitae ad commodi repellat enim quidem! Ut
              exercitationem sed quidem! Dignissimos mollitia excepturi adipisci
              voluptas minus. Accusamus, alias eius.
            </p>
          </div>
          <div class="contenedor-detalle-info">
            <h3>Precio:</h3>
            <p>$3000</p>
          </div>
          <div id="contenedor-detalle-botones">
            <button type="submit" class="boton-detalle">Comprar</button>
            <button type="submit" class="boton-detalle">
              Agregar al carrito
            </button>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include ("../partials/footer") %></footer>
  </body>
</html>
